:root {
  --clr-blue: #50d2ff;
  --clr-green: #00dcb4;
  --clr-red: #d0021b;
  --clr-yellow: #fac800;

  --clr-neutral-100: #f5f5f5;
  --clr-neutral-200: #fafafa;

  --clr-dark: #000054;

  --shadow-100: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --shadow-200: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --br: 5px;

  --fw-thin: 100;
  --fw-light: 300;
  --fw-normal: 300;
  --fw-medium: 500;

  --fs-1: 2.625rem;
  --fs-3: 1.125;
  --fs-4: 0.75rem;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General styling */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:is(h1, h2, h3, h4) {
  margin: 0;
}

.header {
  padding: 3.875rem 1.5rem;
  background-color: var(--clr-neutral-100);
}

.main-title {
  font-size: var(--fs-1);
  color: var(--clr-dark);
  font-weight: var(--fw-medium);
  text-align: center;
}

.main-container {
  padding: 0 1.5rem;
}

.courses-filter {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5em 0;
}

.blue {
  background-color: var(--clr-blue);
}

.green {
  background-color: var(--clr-green);
}

.red {
  background-color: var(--clr-red);
}

.yellow {
  background-color: var(--clr-yellow);
}

/* Buttons */

.btn {
  border: 0;
  padding: 0.5em 1em;
  margin: 4px;
  font-size: 1rem;
  font-family: inherit;
  font-weight: var(--fw-normal);
  letter-spacing: 1px;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  background-color: var(--clr-neutral-100);
  outline: none;
  transition: all 0.3s;
}

.btn:active {
  box-shadow: var(--shadow-200);
}

.btn-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-square {
  width: 13px;
  height: 13px;
  border-radius: 2px;
  margin-right: 0.75em;
}

.active {
  background-color: #4a4a4a;
  color: #fff;
}
