:root {
  --clr-blue: #50d2ff;
  --clr-green: #00dcb4;
  --clr-red: #d0021b;
  --clr-yellow: #fac800;

  --clr-neutral-100: #f5f5f5;
  --clr-neutral-200: #fafafa;
  --clr-neutral-body: #ffffff;

  --clr-dark: #000054;

  --shadow-100: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --shadow-200: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  --fw-thin: 100;
  --fw-light: 300;
  --fw-normal: 300;
  --fw-medium: 500;

  --fs-1: 2.625rem;
  --fs-3: 1.125em;
  --fs-4: 0.75rem;

  --br: 5px;
}

/* Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* General styling */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--clr-neutral-body);
}

:is(h1, h2, h3, h4) {
  margin: 0;
}

img {
  max-width: 100%;
}

.header {
  padding: 3.875rem 1.5rem;
  background-color: var(--clr-neutral-100);
}

.main-title {
  font-size: var(--fs-1);
  color: var(--clr-dark);
  font-weight: var(--fw-medium);
  text-align: center;
}

.main-container {
  padding: 0 1.5rem;
}

.courses-filter {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5em 0;
}

.blue {
  background-color: var(--clr-blue);
}

.green {
  background-color: var(--clr-green);
}

.red {
  background-color: var(--clr-red);
}

.yellow {
  background-color: var(--clr-yellow);
}

/* Buttons */

.btn {
  border: 0;
  padding: 0.5em 1em;
  margin: 4px;
  font-size: 1rem;
  font-family: inherit;
  font-weight: var(--fw-normal);
  letter-spacing: 1px;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  background-color: var(--clr-neutral-100);
  outline: none;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.btn:active {
  box-shadow: var(--shadow-200);
}

.btn-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-square {
  width: 13px;
  height: 13px;
  border-radius: 2px;
  margin-right: 0.75em;
}

.active {
  background-color: #4a4a4a;
  color: #fff;
}

.ripple {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: animate 0.7s linear;
  background-color: #837d7d;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    opacity: 0.7;
  }

  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0;
  }
}

.filter-toggle {
  border: 0;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 50px;
  font-family: inherit;
  font-weight: var(--fw-light);
  color: #a7a7a7;
  cursor: pointer;
  background-color: var(--clr-neutral-body);
  border: 1px solid #e1e1e1;
  margin-right: 0.75em;
}

.reset {
  border: 0;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-weight: var(--fw-light);
  color: var(--clr-blue);
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
}

.reset:hover {
  text-decoration: underline;
}

/* Filter list */

.industry-filter-body {
  margin-top: 2em;
  padding-left: 0.3em;
  font-weight: var(--fw-thin);
}
.industry-filter-list {
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.idustry-filter-list-item {
  display: flex;
  flex: 1 1 25%;
  margin-bottom: 1em;
  color: #757575;
}

.selection-controls {
  position: relative;
}

.fa-square {
  margin-right: 0.5em;
  font-size: 1.3rem;
  display: inline-block;
  position: relative;
}

.filter-checkbox {
  position: absolute;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}
.fa-square-selected {
  display: none;
}

.list-item-label {
  cursor: pointer;
}

/* Courses */

.courses {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.course-card {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 1;
  padding: 8px;
}

.course-card-image {
  object-fit: cover;
  object-position: 0px 0px;
  width: 100%;
  height: 200px;
}

.course-card-link {
  display: block;
  box-shadow: var(--shadow-100);
  transition: all 0.3s ease;
  text-decoration: none;
  overflow: hidden;
  border-radius: 4px;
}

.course-card-link:hover {
  box-shadow: var(--shadow-200);
}

hgroup {
  border-bottom: 1px solid #e2e2e2;
}

.course-card-info {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: var(--clr-neutral-200);
}

.course-card-tag {
  font-size: var(--fs-4);
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #555;
}

.course-card-title {
  font-size: var(--fs-3);
  font-weight: var(--fw-medium);
  color: #121212;
  margin: 4px 0 1em 0;
}

.course-card-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.course-card-footer :is(span, time) {
  display: block;
  color: #000;
  font-weight: var(--fw-light);
  font-size: 14px;
  margin-top: 6px;
}

/* Color coding cards */

.short-course img {
  border-bottom: 7px solid var(--clr-blue);
}

.future-skills img {
  border-bottom: 7px solid var(--clr-green);
}

.postgraduate img {
  border-bottom: 7px solid var(--clr-red);
}

.undergraduate img {
  border-bottom: 7px solid var(--clr-yellow);
}
